future==0.18.2
numpy==1.18.0
scipy==1.5.2
ipykernel==5.5.5
jupyter==1.0.0
matplotlib==3.3.1 --ignore-installed
netron>=4.7.9
pandas==1.1.5
scikit-learn==0.24.1
tqdm==4.61.1
dill==0.3.3
brevitas==0.6.0
onnxoptimizer==0.2.6
git+https://github.com/Xilinx/finn-base.git@feature/itu_competition_21#egg=finn-base[onnx]
versioned-hdf5